<div class='single_category'>
  <%= link_to user_category_path(user, category) do %>
    <div class='category_icon_holder'>
      <%= image_tag(category.icon, class: 'category_icon') %>
    </div>
    <span class='category_name'><%= category.name %></span>
    <span class='category_total_price'>
      $<%= total %>
    </span>
  <% end %>
</div>
